@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    background: linear-gradient(#1ABC9C, #1CFFCD);
}

nav {
    position: fixed;
    z-index: 1000;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    height: 60px;
    line-height: 60px;
    width: 100%;
}

nav li {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    text-transform: uppercase;
    padding: 0 20px;
}

.nav_name a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

.nav_tabs {
    color: rgba(255,255,255,.8);
    text-decoration: none;
    margin: 0;
    padding: 0;
    float: right;
    line-height: 60px;
    font-size: 16px;
}

.left, .right {
    height: 100%;
    width: 50%;
    padding-top: 125px;
}

.iphone {
    float: right;
    height: 700px;
    padding-right: 50px;
}

.right_content {
    display: flex;
    flex-direction: column;
    height: 700px;
    width: 460px;
    text-align: center;
}

.petigree_title {
    color: white;
    display: inline;
    font: 60px verdana;
    margin: 0;
    padding-top: 20px;
}

.petigree_logo {
    display: block;
    margin: 0 auto;
    padding-top: 10px;
    width: 100px;
}

.petigree_description {
    color: white;
    font-size: 17px;
    margin: 0;
    padding-top: 20px;
    width: 460px;
}

.app_store {
    display: block;
    margin: 0 auto;
    padding-top: 60px;
    width: 250px;
}

@media screen and (max-width: 950px) {

    body {
        background: #1ABC9C;
    }

    .right, .left {
        width: 100%;
        float: none;
        padding-top: 0;
    }

    .left {
        padding: 25px 0;
        height: auto;
    }

    .right {
        width: 100%;
        padding-top: 100px;
        height: auto;
    }

    .right_content {
        margin: 0 auto;
        height: auto;
        padding-bottom: 25px;
    }

    .iphone {
        display: block;
        float: none;
        margin: auto;
        padding: 0;
    }

}

@media screen and (max-width: 500px) {

    .nav_name {
        display: none;
    }

    .nav_tabs {
        float: none;
        display: inline-block;
    }

    nav {
        text-align: center;
    }

    nav ul a {
        padding: 0 10px;
    }
}
