@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

nav {
    position: fixed;
    z-index: 1000;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) );
    height: 60px;
    width: 100%;
}

.nav_name {
    color: white;
    text-decoration: none;
    margin: 0;
    padding: 0;
    float: left;
    line-height: 60px;
    font-size: 30px;
}

.nav_tabs {
    color: rgba(255,255,255,.8);
    text-decoration: none;
    margin: 0;
    padding: 0;
    float: right;
    line-height: 60px;
    font-size: 16px;
}

nav li {
    font-family: 'Open Sans', sans-serif;
    display: inline;
    text-transform: uppercase;
    padding-left: 20px;
    padding-right: 20px;
}

.nav_tabs a {
    color: rgba(255,255,255,.8);
    text-decoration: none;
}

.nav_name a {
    color: white;
    text-decoration: none;
}

nav a:hover {
    color: white;
}

.footer {
    background: linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) );
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: white;
    font-size: 12px;
    width: 100%;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.contact_choices {
    position: relative;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.contact-card {
    background-color: white;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    color: black;
    display:inline-block;
    height: 200px;
    margin: 0 10px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 200px;
}

.contact-card img {
    height: 60%;
    margin: 20% 0;
}

.contact-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    cursor: pointer;
}

.home_image {
    min-height: 100%;
    line-height: 100%;
    height: auto;
    text-align: center;
    font-family: 'Roboto Slab', sans-serif;
    font-weight: 500;
    font-size: 90px;
    color: black;
    margin: 0;
    padding: 0;
}

.index_name {
    margin: calc(2% + 60px) 0 2% 0;
}

.index_pic {
    height: 45%;
    border-radius: 100%;
}

.index_bio {
    font: 20px 'Open Sans', sans-serif;
    color: white;
}

.about_content {
    height: 100%;
    background: #F7F7F7;
    text-align: center;
}

.project_par, .resume_par, .contact_par {
    height: 40%;
}

.project_content {
    min-height: 100%;
    background: #F7F7F7;
    height: auto;
}

.resume_content {
    min-height: 100%;
    height: auto;
    background: #F7F7F7;
    text-align: center;
}

.contact_content {
    min-height: 60%;
    height: auto;
    background: #F7F7F7;
    text-align: center;
}

.header {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font: 80px 'Roboto Slab', sans-serif;
    color: black;
}

.resume-header {
    color: white;
}

.left-project-cards {
    float: left;
    margin: 50px 1.5% 0px 3%;
    height: auto;
    width: 45.5%;
}

.right-project-cards {
    float: left;
    height: auto;
    margin: 50px 3% 0px 1.5%;
    width: 45.5%;
}

.project-card {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    float: left;
    height: 250px;
    margin-bottom: 50px;
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    width: 100%;
    text-align: left;
    z-index: 1;
}

.project-card:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.project-card-image {
    float: left;
    height: 100%;
    width: 30%;
    display: inline-block;
    text-align: center;
    position: relative;
}

.project-card-image img {
    height: 60%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.project-card-content {
    float: left;
    height: 80%;
    width: 70%;
}

.project-card-title {
    font: bold 30px 'Roboto', sans-serif;
    padding: 10px 0 5px 0;
    text-align: center;
}

.project-card-desc {
    font: 15px 'Open Sans', sans-serif;
    line-height: 150%;
    padding: 5px 15px  15px 15px;
    text-align: left;
}

.pet-rating-app-card .project-card-image {
    background-color: #373737;
}

.daily-maps-card:hover {
    cursor: pointer;
}

.daily-maps-card .project-card-image,
.content-app-card .project-card-image {
    background-color: #374567;
}

.no-phone-zone-card .project-card-image {
    background-color: #ffe4c4;
}

.face-catch-card .project-card-image {
    background-color: #002A4A;
}

.forkit-card .project-card-image {
  background-color: #4AE2A9;
}

.daily-maps-card .project-card-image img,
.content-app-card .project-card-image img {
    -webkit-filter: invert(100%);
}

@media screen and (max-width: 1525px) {
    .project-card-title {
        font-size: 25px;
    }

    .project-card-desc {
        font-size: 13px;
    }

}

.project-chips {
    height: 20%;
    width: 70%;
    float: left;
    padding-left: 15px;
}

.resume_date {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    margin: 0;
    padding: 0 10px;
}

.resume_desc {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 10px;
}

.resume_place {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    margin: 10px 0 0 0;
    padding: 0 10px;
}

.resume_skills {
  font-family: 'Open Sans', sans-serif;
  color: gray;
  margin: 0;
  padding: 0 10px;
}

.resume-card {
    background-color: white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    float: left;
    height: auto;
    margin: 10px 0;
    width: 100%;
    text-align: left;
}

.job-title {
    width: 100%;
    height: 40px;
    line-height: 40px;
}

.job-title-text {
    float: left;
    font-size: 25px;
    padding: 5px 10px;
}

.epic-image {
    margin: 10px 0 10px 10px;
    height: 30px;
    float: left;
}

.epic-image img {
    height: 30px;
}

.proquest-image {
    margin: 10px 0 10px 10px;
    height: 30px;
    background-color: #009EDF;
    float: left;
}

.proquest-image img,
.daily-image img,
.umich-image img  {
    float: left;
    height: 25px;
    margin: 2.5px 0;
    padding: 0 1px;
}

.skill {
    margin: 10px;
    width: 100%;
    height: 40px;
}

.skill img {
    float: left;
    height: 100%;
}

.skill-text {
    float: left;
    font: 30px 'Open Sans', sans-serif;
    padding: 0 20px;
    line-height: 40px;
}

.skill-level {
    float: right;
    margin-right: 30px;
}

.skill-box {
    float: right;
    height: 40px;
    width: 40px;
    background-color: rgb(171, 170, 170);
    margin-right: 10px;
}

.daily-image {
    margin: 10px 0 10px 10px;
    height: 30px;
    /*background-color: #374567;*/
    float: left;
}

.umich-image {
    margin: 10px 0 10px 10px;
    height: 30px;
    /*background-color: #002A4A;*/
    float: left;
}

.resume-card-title {
    font: bold 35px 'Roboto', sans-serif;
    text-align: left;
    margin-top: 10px;
    height: auto;
}

.resume-card ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 0 10px;
    list-style-position: inside;
}

.resume-card li {
    padding-bottom: 6px;
}

.left-resume {
    float: left;
    height: auto;
    width: 45.5%;
    margin: 25px 1.5% 50px 3%;
}

.right-resume {
    float: left;
    height: auto;
    margin: 25px 3% 50px 1.5%;
    width: 45.5%;
}

.external-href {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
    .left-resume {
        width: 95%;
        margin: 25px 2.5% 12.5px 2.5%;
    }

    .right-resume {
        width: 95%;
        margin: 12.5px 2.5% 25px 2.5%;
    }

    .left-project-cards {
        width: 95%;
        margin: 25px 2.5% 0 2.5%;
    }

    .right-project-cards {
        width: 95%;
        margin: 0 2.5%;
    }

    .project-card {
        margin-bottom: 25px;
    }

    .index_pic {
        height: 40%;
    }

}

@media screen and (max-width: 480px) {
    .nav_name {
        display: none;
    }

    .nav_tabs {
        float: none;
        display: inline-block;
    }

    nav {
        text-align: center;
    }

    nav li {
        pading: 0;
    }

    nav ul a {
        padding: 0 10px;
    }

    .contact-card {
        height: 120px;
        width: 120px;
    }
}

@media screen and (max-width: 1110px) and (min-width: 961px) {
    .skill {
        height: 35px;
    }

    .skill img {
        float: left;
        height: 100%;
    }

    .skill-text {
        font: 25px 'Open Sans', sans-serif;
        line-height: 35px;
    }

    .skill-level {
        margin-right: 15px;
    }

    .skill-box {
        height: 35px;
        width: 35px;
    }

    .project-card-image img {
        height: 45%;
    }
}

@media screen and (max-width: 540px) {
    .skill {
        height: 35px;
    }

    .skill img {
        float: left;
        height: 100%;
    }

    .skill-text {
        font: 25px 'Open Sans', sans-serif;
        line-height: 35px;
    }

    .skill-level {
        margin-right: 15px;
    }

    .skill-box {
        height: 35px;
        width: 35px;
    }

    .project-card-image img {
        height: 45%;
    }
}

@media screen and (max-width: 960px) and (min-width: 541px) {
    .skill {
        height: 30px;
    }

    .skill-text {
        font: 20px 'Open Sans', sans-serif;
        line-height: 30px;
    }

    .skill-level {
        margin-right: 10px;
    }

    .skill-box {
        height: 25px;
        width: 25px;
        margin-right: 5px;
    }

    .project-card-image img {
        height: 45%;
    }
}

@media screen and (max-width: 470px) {
    .skill {
        height: 30px;
        margin-left: 5px;
    }

    .skill-text {
        font: 17px 'Open Sans', sans-serif;
        line-height: 25px;
        padding: 0 8px;
    }

    .skill-level {
        margin-right: 10px;
    }

    .skill-box {
        height: 25px;
        width: 25px;
        margin-right: 5px;
    }

    .project-card-image img {
        height: 50%;
    }

    .project-card-image {
        width: 20%;
        overflow: hidden;
    }

    .project-card-desc {
        padding: 5px 10px  15px 10px;
        text-align: left;
        line-height: 110%;
    }

    .project-card-content {
        width: 80%;
    }

    .home_image {
        min-height: 100%;
        line-height: 100%;
        height: auto;
        text-align: center;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 500;
        font-size: 70px;
        color: black;
        margin: 0;
        padding: 0;
    }

    .index_name {
        margin: calc(4% + 60px) 0 2% 0;
    }
}
